@import "@/scss/_variables.scss";

.Hero {
  display: grid;
  place-items: center;

  &.half {
    height: 50vh;
  }

  &.full {
    height: 100vh;
  }

  &__body {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 3rem;
    font-weight: 700;
    color: $text-light;
    width: fit-content;
    margin: auto;
  }

  &__subtitle {
    font-size: 1.25rem;
    font-weight: 400;
    color: $text-light;
  }
}

.Section {
  &.full {
    height: 100vh;
  }

  &.media > &__media {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &.titlemedia {
    display: grid;
    place-items: center;

    &__titlemedia {
      display: grid;
      grid-template-areas: "title" "media";
    }

    &__title {
      grid-area: title;
    }

    &__media {
      grid-area: media;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
}

.MediaItem {
  width: 100%;
  height: 100%;

  &__imagewrapper {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__nodewrapper {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
  }
}
