// Variables

// Colors
$gray-100: #676c72;
$gray-200: #5f6368;
$gray-300: #4e4e4e;
$gray-400: #333333;
$gray-600: #202124;

$green-400: #34a853;

$blue-400: #4285f4;

$yellow-400: #fbbc04;

$red-400: #ea4335;

// Brand-theme
$text-lighter: $gray-100;
$text-light: $gray-200;
$text: $gray-400;
$text-dark: $gray-400;
$text-darker: $gray-600;
